[init]
    defaultBranch = main
    templatedir = ~/.config/git/templates
[user]
    name = hyperbola
    email = me@hyperbola.me
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIK+78fZoc7ql1OsIq5As13mqshdsfYJWmcnsxZReTo4V
[commit]
    gpgsign = true
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = /home/hyperbola/.config/git/allowed_signers
[alias]
    # common
    aa = add .
    unadd = rm -r --cached --
    b = branch
    c = checkout
    s = switch
    ss = status
    cc = commit --amend --no-edit
    ccc = commit -C HEAD@{1}
    cp = cherry-pick
    rr = rebase -i
    rss = reset --hard
    ## logs
    l = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    ll = l -p
[core]
    excludesFile = ~/.config/git/ignore
[pull]
    ff = only
[push]
    autoSetupRemote = true
    default = current

# Include WSL specific config (if exists).
[include]
    path = ~/.config/git/config.wsl
