[init]
    defaultBranch = main
    templatedir = ~/.config/git/templates
[user]
    name = hyperbola
    email = me@hyperbola.me
    # TODO: place your GPG or SSH signing key here.
    # signingkey = ???
[commit]
    gpgsign = true
[alias]
    # common
    aa = add .
    unadd = rm -r --cached --
    b = branch
    c = checkout
    s = switch
    ss = status
    cc = commit --amend --no-edit
    ccc = commit -C HEAD@{1}
    cp = cherry-pick
    rr = rebase -i
    rss = reset --hard
    ## logs
    l = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    ll = l -p
[core]
    excludesFile = ~/.config/git/ignore
[pull]
    ff = only
[push]
	autoSetupRemote = true
	default = current

# Uncomment following section if you want to sign commits with SSH.
# [gpg]
#   format = ssh

# Uncomment following section if you want to use 1password to sign commits in WSL.
# [gpg "ssh"]
#   program = "/mnt/c/Users/hyperbola/AppData/Local/1Password/app/8/op-ssh-sign-wsl"
# [core]
#   sshCommand = ssh.exe
