alias ls='ls -h --group-directories-first --color=auto'
alias lll='ls -Al'

# Equivalent to `ls -l`, or `ls -Al` if all files start with a dot.
ll() {
  if [[ $# -ne 0 ]]; then
    ls -l "$@"
    return
  fi

  target="${1:-.}"
  shopt -s nullglob
  local all_files_start_with_dot=true
  for entry in "$target"/*; do
    all_files_start_with_dot=false
    break
  done
  shopt -u nullglob

  if $all_files_start_with_dot; then
    ls -Al "$target"
  else
    ls -l "$target"
  fi
}

alias tree="tree -alI 'node_modules|.pnpm-store|.git'"

# Alias docker to podman if podman is installed.
which podman >/dev/null && alias docker=podman

# vim: ft=bash
