# shellcheck shell=bash
# shellcheck source=/dev/null
# vim: ft=bash

# If __git_ps1 is not defined in the system, manually define it from the source.
if ! type __git_ps1 2>/dev/null && [ -r "$HOME/.config/git/prompt.sh" ]; then
    . "$HOME/.config/git/prompt.sh"
fi

# If sshd is running, we consider this machine is a remote machine. Show hostname on the propmt in
# this case.
if ps -p $(pgrep sshd) >/dev/null 2>/dev/null; then
    PS1='\[\e[01;30m\]\t`if [ $? = 0 ]; then echo "\[\e[32m\] ✓ "; else echo "\[\e[31m\] ✘ "; fi`\[\e[01;33m\]\u@\h\[\e[01;37m\]:`[[ $(git status 2> /dev/null) =~ Changes\ to\ be\ committed: ]] && echo "\[\e[33m\]" || echo "\[\e[31m\]"``[[ ! $(git status 2> /dev/null) =~ nothing\ to\ commit,\ working\ .+\ clean ]] || echo "\[\e[32m\]"`$(__git_ps1 "(%s)\[\e[00m\]")\[\e[01;34m\]\w\[\e[00m\]\$ '
else
    PS1='\[\e[01;30m\]\t`if [ $? = 0 ]; then echo "\[\e[32m\] ✓ "; else echo "\[\e[31m\] ✘ "; fi`\[\e[01;33m\]\u\[\e[01;37m\]:`[[ $(git status 2> /dev/null) =~ Changes\ to\ be\ committed: ]] && echo "\[\e[33m\]" || echo "\[\e[31m\]"``[[ ! $(git status 2> /dev/null) =~ nothing\ to\ commit,\ working\ .+\ clean ]] || echo "\[\e[32m\]"`$(__git_ps1 "(%s)\[\e[00m\]")\[\e[01;34m\]\w\[\e[00m\]\$ '
fi
