# https://github.com/mgedmin/dotfiles/blob/master/bashrc.less

# shellcheck shell=bash
# vim: ft=bash

# Make less more friendly for non-text input files, see lesspipe(1)
[ -x /usr/bin/lesspipe ] && eval "$(SHELL=/bin/sh lesspipe)"
